body {
  color: black;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
}

h3 {
  font-size: 0.9em;
  font-weight: 200;
}

h4 {
  color: #565656;
}

p {
  font-family: "Roboto";
  letter-spacing: 1.1px;
  line-height: 28px;
  color: #565656;
}

.App {
  text-align: center;
}

.logo {
  width: 80px;
}

.logo-center {
  width: 35%;
  display: block;
  margin: -15px auto;
}

.about__title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 56px;
  font-weight: 100;
}

.about__description {
  text-align: center;
}

.navbar {
  box-shadow: 0px 0px 20px #000000bd;
  background-color: #f9f9f9;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer-block {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: black;
}

.footer-giraffe {
  width: 300px;
}

#content {
  padding-top: 80px;
}

.spinner {
  width: 100px;
  height: 100px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("images/LoadingSpinner.svg") 50% 50% no-repeat
    rgb(249, 249, 249);
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: space-around;
}

.show {
  padding: 25px;
  width: 200px;
}

.tvImage {
  height: 200px;
  cursor: pointer;
}

.tvName {
  cursor: pointer;
}

.banner {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.banner-logo-container {
  position: absolute;
  top: 80px;
  width: 100%;
}

.banner-logo {
  width: 80px;
  filter: invert(1);
}

.banner-top {
  position: absolute;
  width: 100%;
  top: 50px;
}

.banner-top h1 {
  font-size: 3em;
  text-align: center;
  color: white;
  font-weight: 200;
  text-shadow: 2px 3px 2px black;
  margin: 5px;
}

.banner-container .banner-footer {
  bottom: 5px;
  width: 100%;
  position: absolute;
  color: white;
  font-size: 1.6em;
  text-shadow: 2px 3px 2px black;
}

.banner-container p {
  margin: 5px;
}

.arrow {
  font-size: 1.8em;
  cursor: pointer;
  color: white;
}

.we-are-here {
  width: 60px;
}

.map-section {
  display: flex;
  padding-bottom: 40px;
}

.map-container {
  height: 600px;
  width: 100%;
  background-color: gray;
  margin: 0 auto;
}

.map-sidebar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  min-width: 200px;
  padding: 0px 80px;
  padding-bottom: 50px;
}

.map-sidebar img {
  filter: grayscale(60%);
  color: #333;
}

.statistic-graph {
  font-family: sans-serif;
  padding: 0px 10px;
}

.popup-image {
  width: 200px;
}

.timeline-image {
  max-height: 500px;
  border: 6px solid #2f2f2f;
  border-radius: 5px;
  max-width: 100%;
}

.vertical-timeline-element {
  margin-top: -200px;
}

.vertical-timeline-element-content {
  background-color: white !important;
  box-shadow: 3px 4px 8px #ababab;
  border-radius: 10px;
}

.vertical-timeline-element-title {
  font-family: "Permanent Marker";
  transform: rotate(1deg);
  padding-top: 20px;
  font-size: 1.6em;
  color: #899a47;
}

.vertical-timeline-element-icon {
  width: 50px;
  height: 50px;
  font-size: 12px;
}

.timeline-date {
  vertical-align: middle;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.stat {
  font-size: 20px;
  color: #889a47 !important;
}

.stat-container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.full-width {
  width: 100%;
}
@media only screen and (max-width: 1170px) {
  .vertical-timeline-element {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .map-section {
    display: flex;
    flex-direction: column;
  }

  .map-section {
    display: flex;
    flex-direction: column;
  }

  .map-sidebar {
    flex-direction: column;
  }
}

.toberemoved {
  display: grid;
}
