body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navlist {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.navlist li {
  margin: 0px 30px 0px 0px;
}

.blog {
  padding: 0px 80px 0px 80px;
}

.posts {
  border-top: 5px black solid;
  
}

.post {
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: 163px;
  width: 100%;
  background-color: white;
  margin-bottom: 5px;
}

.post__thumbnail {
  width: 152px;

}

.post__details {
  width: 85%;
  padding: 0px 30px 0px 30px;
}

.post__title h3 {
  margin-bottom: auto;
}

.post__title a {
  color:black;
  border-bottom: 1px dotted black;
  text-decoration: none;
}

.post__date {
  font-family: monospace;
  color: #564f4f;
}

@media screen and (max-width: 941px) {
  .blog {
    padding: 0px 15px 0px 15px;
  }

  .post {
    display: block;
    height: 100%;
  }

  .post__thumbnail {
    height: 150px;
    margin: auto;
  }

  .post__details {
    width: 80%;
    margin: auto;
  }

  body {
    background-color: blue;
  }
}

