body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlist {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
} 

.navlist li {
  margin: 0px 30px 0px 0px;
}